<h1>Select a category</h1>
<button class="charCatgry">cartoon networks</button>
<button class="charCatgry">pixars</button>
<button class="charCatgry">Disney</button>
<button class="charCatgry">Nickelodeon</button>