<h1 class="cat-header">Select a category</h1>
<div class="btn-cont">
  <button class="charCatgry"
    style='background-image: url("https://static.miraheze.org/greatcharacterswiki/7/76/5566c9efa525117d43909d48.jpg");'>Disney</button>

</div>
<div class="btn-cont">
  <button class="charCatgry"
    style='background-image: url("https://static.miraheze.org/greatcharacterswiki/e/e1/Pixar-Logo-700x304.jpg");'>Pixar</button>
</div>
<div class="btn-cont">
  <button class="charCatgry"
    style='background-image: url("https://static.miraheze.org/greatcharacterswiki/thumb/6/6a/Nicki_wiki.jpg/320px-Nicki_wiki.jpg");'>Nickelodeon</button>

</div>
<div class="btn-cont">
  <button class="charCatgry"
    style='background-image: url("https://static.miraheze.org/greatcharacterswiki/thumb/0/0d/26538c027642a1a164f12465cfd3eea7.jpg/320px-26538c027642a1a164f12465cfd3eea7.jpg");'>Cartoon<br>
    Network </button>
</div>