<div id="card">
  <div id="options-container">
    <div>Score:
      <span id="score">0</span>
    </div>Attempts:
    <div>
      <span id="attempts">3</span>
    </div>
  </div>
  <div id="images-container">
    <img class="char" alt="">
  </div>
  <div id="input-container">

    <div class="buttons-container">
      <button type="button" class="option one"></button>
      <button type="button" class="option two"></button>
    </div>

    <div class="buttons-container">
      <button type="button" class="option three"></button>
      <button type="button" class="option four"></button>
    </div>
  </div>
</div>
<%- include("../partials/footer.ejs");%>
<!-- <script src="/javascripts/index.js"></script> -->