<h1 id="header">Match Ended</h1>
<div id="points">
  <h4>Final Score</h4>
  <h5>Corrects:
    <span>
      <%= pts %>
    </span> /15
  </h5>

</div>
<div id="end-body">
  <a id="try-again-btn" href="">Try Again</a>
  <a href="/game">Back</a>
</div>