<style>
  #header {
    background-color: cornflowerblue;
    width: 100%;
    text-align: center;
    color: white;
    text-shadow: 5px 5px 5px rgba(140, 140, 140, 0.8);
  }

  #end-body {
    inline-size: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 80px;
    /* align-items: center; */
    /* height: 80px; */
    text-align: center;

  }

  #end-body>a {
    font-size: 20px;
    text-decoration: none;
    display: flex;
    align-items: center;
    background-color: cornflowerblue;
    color: white;
    width: 95%;
    height: 100%;
    text-emphasis: none;
    justify-content: center;
    margin: 0 auto;
  }

  #points {
    background-image: url("../images/results.jpg");
    background-size: 100% 100%;
    width: 100%;
    height: 300px;
    font-size: 35px;
    margin-bottom: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    text-shadow: 5px 5px 5px rgba(140, 140, 140, 0.8);
  }

  #points h4 {
    margin: 0 0;
  }

  #points h5 {
    margin: 0 0;
    font-weight: normal;
  }
</style>
<h1 id="header">Match Ended</h1>
<div id="points">
  <h4>Final Score</h4>
  <h5>Corrects:
    <span>
      <%= pts %>
    </span> /15
  </h5>

</div>
<div id="end-body">
  <a id="try-again-btn" href="">Try Again</a>
  <a href="/game">Back</a>
</div>