<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <title>Hello</title>
</head>

<body>
  <div class="main-container">
    <div id="sub-container">
      <div id="card">
        <div id="options-container">
          <div>Score:
            <span id="score">0</span>
          </div>Attempts:
          <div>
            <span id="attempts">3</span>
          </div>
        </div>
        <div id="images-container">
          <img class="char" alt="SpongeBob">
        </div>
        <div id="input-container">
  
          <div class="buttons-container">
            <button type="button" class="option one">SpongeBob</button>
            <button type="button" class="option two">nothing</button>
          </div>
  
          <div class="buttons-container">
            <button type="button" class="option three">mario</button>
            <button type="button" class="option four">ben</button>
          </div>
      </div>
    </div>
    <script src="/javascripts/index.js"></script>
</body>

</html>