body {
  background-color: black;
  margin: 0 0;
}
.main-container {
  height: 100vh;
  background-color: #bbd1d3;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#sub-container {
  inline-size: 98%;
  block-size: 96%;
  margin: 0 auto;
  /* background-color: rgba(128, 128, 128); */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#card {
  inline-size: 95%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5%;
  /* box-shadow: rgb(196, 196, 196) 0px 1px 0px; */
}
#options-container {
  background-color: rgb(181, 226, 226);
  height: 50px;
  inline-size: 100%;
  display: flex;
  justify-content: space-evenly;
  font-size: 20px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  align-items: center;
  color: darkcyan;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
#images-container {
  inline-size: 100%;
  display: flex;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
}
#images-container .char {
  width: 190px;
  height: 290px;
}

#input-container {
  inline-size: 100%;
  block-size: 130px;
  background-color: rgba(0, 0, 255, 0.3);
  /* justify-content: center; */
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.buttons-container {
  block-size: 50%;
  display: flex;
  justify-content: space-evenly;
}
.option {
  inline-size: 45%;
  block-size: 45px;
  border: hidden;
  border-radius: 5px;
  font-size: 16px;
  margin: auto 0;
  transition: all 90ms linear;
}
.card-color-wrong {
  box-shadow: 0px 0px 28px 7px rgba(255, 0, 0, 0.75);
  -webkit-box-shadow: 0px 0px 28px 7px rgba(255, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 28px 7px rgba(255, 0, 0, 0.75);
  transition: all 50ms linear;

}
.card-color-right {
  box-shadow: 0px 0px 8px 2px rgba(0,255,41,1);
  -webkit-box-shadow: 0px 0px 8px 2px rgba(0,255,41,1);
  -moz-box-shadow: 0px 0px 8px 2px rgba(0,255,41,1);
  transition: all 50ms linear;
}
.wrong-op {
  color: rgba(255, 0, 0, 0.7);
  box-shadow: 0px 0px 5px 1px rgba(255, 0, 0, 0.7);
  transition: all 50ms linear;
}
.right-op {
  box-shadow: 0px 0px 5px 1px rgba(0, 128, 0, 0.7);
  color: rgb(0, 128, 0, 0.7);
  transition: all 100ms linear;
}
@media (min-width: 650px) and (max-width: 1366px) {
  #sub-container {
    inline-size: 650px;
  }
  /* body{
    font-size: 12px;
  } */
}
