body {
  margin: 0 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.main-container {
  background-color: #bbd1d3;
  block-size: 99.8vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
#nav-container {
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: center;
}
.main-container .two {
  visibility: hidden;
  inline-size: 98%;
  margin: 0 auto;
  height: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.welcome {
  background-image: url("../images/welcome-img.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  inline-size: 95%;
  block-size: 65%;
  background-color: beige;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  text-shadow: 3px 3px 3px rgba(128, 128, 128, 0.5);
}
.welcome h1 {
  font-size: 30px;
  font-display: flex;
  margin: 0 0;
  margin-top: 8px;
}
.welcome h2 {
  font-size: 10px;
  font-weight: normal;
}
.buttons {
  inline-size: 100%;
  block-size: 35%;
  display: flex;
  justify-content: center;
}
#footer-container {
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#btn-play {
  background-color: rgba(65, 105, 225, 0.918);
  padding: 6px;
  border: hidden;
  text-decoration: none;
  color: white;
  text-shadow: 1px 1px 1px rgba(128, 128, 128, 0.5);
  font-size: 46px;
  margin: auto 0;
}

#btn-play:hover {
  background-color: rgba(65, 105, 225, 0.6);
  color: rgba(255, 255, 255, 0.6);
}
#btn-play:active {
  transform: scale(1.05);
}
#loader-box {
  position: fixed;
  background-color: inherit;
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 100%;
  align-items: center;
  justify-items: center;
}
#loader {
  display: block;
  width: 50px;
  height: 50px;
  border: 5px solid white;
  border-top: 5px solid red;
  border-radius: 50%;
  animation: spin 1200ms infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* for large screens */
@media (min-width: 600px) and (max-width: 1366px) {
  .main-container {
    inline-size: 650px;
    block-size: 100vh;
    display: flex;
    align-items: center;
  }
  .main-container .two {
    inline-size: 100%;
    block-size: 80%;
    flex-direction: row;
  }
  .welcome {
    inline-size: 65%;
    block-size: 100%;
  }
  .welcome h1 {
    margin-block: 45%;
  }
  .buttons {
    inline-size: 35%;
    block-size: 100%;
  }
}
