body {
  background-color: rgba(128, 128, 128, alpha);
  margin: 0 0;
  display: flex;
  justify-content: center;
}
.main-container {
  inline-size: 95vw;
  block-size: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
#nav-container {
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: center;
}
.main-container .two {
  inline-size: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  border-radius: 7px;
}
.welcome {
  inline-size: 100%;
  block-size: 65%;
  background-color: beige;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
  text-align: center;
}
.welcome h1 {
  font-size: 45px;
}
.buttons {
  inline-size: 100%;
  block-size: 35%;
  display: flex;
  justify-content: center;
}
#footer-container {
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#btn-play {
  background-color: rgba(65, 105, 225, 0.918);
  padding: 10px;
  border: hidden;
  text-decoration: none;
  border-radius: 5px;
  color: white;
  text-shadow: 1px 1px 1px rgba(128, 128, 128, 0.5);
  font-size: 50px;
  margin: auto 0;
}

#btn-play:hover {
  background-color: rgba(65, 105, 225, 0.6);
  color: rgba(255, 255, 255, 0.6);
}

/* for large screens */
@media (min-width: 600px) and (max-width: 1366px) {
  .main-container {
    inline-size: 650px;
    block-size: 100vh;
    display: flex;
    align-items: center;
  }
  .main-container .two {
    inline-size: 100%;
    block-size: 80%;
    flex-direction: row;
  }
  .welcome {
    inline-size: 65%;
    block-size: 100%;
  }
  .welcome h1 {
    margin-block: 45% ;
  }
  .buttons {
    inline-size: 35%;
    block-size: 100%;
  }
}
