<!DOCTYPE html>
<html lang="en">

<head>
  <%- include("../partials/head.ejs");%>
    <link rel="stylesheet" href="/stylesheets/style.css">

</head>

<body>

  <div class="main-container">
    <div id="loader-box">
      <div id="loader"></div>
    </div>
    <div id="sub-container">
      <div id="card">
        <%- include("../partials/category.ejs");%>
      </div>
    </div>
    <%- include("../partials/footer.ejs");%>

  </div>

  <script type="module" src="/javascripts/index.js"></script>
  <script type="module" src="/javascripts/test-module.js"></script>
</body>

</html>