<!DOCTYPE html>
<html lang="en">

<head>
  <%- include("../partials/head.ejs");%>
    <link rel="stylesheet" href="/stylesheets/style.css">

</head>

<body>

  <div class="main-container">
    <div id="sub-container">
      <h1>Select a category</h1>
      <button class="charCatgry">cartoon networks</button>
      <button class="charCatgry">pixars</button>
      <button class="charCatgry" >Disney</button>
      <button class="charCatgry" >Nickelodeon</button>
    </div>
  </div>
  <script src="/javascripts/index.js"></script>
</body>

</html>