<!DOCTYPE html>
<html lang="en">

<head>
  <%- include("../partials/head.ejs");%>
    <link rel="stylesheet" href="/stylesheets/style.css">

</head>

<body>

  <div class="main-container">
    <div id="sub-container">
      <%- include("../partials/category.ejs");%>

    </div>
  </div>
  <script src="/javascripts/index.js"></script>
</body>

</html>