<!DOCTYPE html>
<html lang="en">

<head>
  <%- include("../partials/head.ejs");%>
    <link rel="stylesheet" href="/stylesheets/signUp.css">
</head>

<body>
  <div class="main-container">
    <div id="sub-container">
      <h2 id="title">SIGN IN</h2>
      <form id="register-box" action="/login" method="post">
        <input type="text" name="name-email" id="name-mail-box" placeholder="Username / Mail">
        <input type="password" name="pass" id="pass-box" placeholder="Password">

        <input id="btn-ok" type="submit" value="Ok">
      </form>
      <a href="/play">
        <button id="return-btn">Return</button>
      </a>
    </div>
  </div>

</body>

</html>